body {
    background-color: var(--cPagina);
    --wMax: 1400px;
}

.page_cont {
    position: relative;
    width: calc(100% var(--sb-size));
    height: min-content;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    align-items: center;
}

.secao-pag {
    position: relative;
    width: auto;
    max-width: var(--wMax);
    height: auto;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;

    padding: 42px;
    gap: 42px;

    opacity: 0;
    animation: 1s linear 0s animFadeIn forwards;
}

@keyframes animFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.botao_voltar {
    position: relative;
    width: 72px;
    height: 72px;

    border-style: solid;
    border-width: 2px;
    border-color: var(--Preto);

    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.botao_voltar:hover {
    background-color: var(--Azul);
}

.botao_voltar:hover svg path {
    fill: var(--Branco);
}

.box {
    position: relative;
    width: 100%;
    height: auto;

    border-style: solid;
    border-color: var(--Preto);
    border-width: 4px;
    border-radius: 12px;

    overflow: hidden;

    display: flex;
    flex-direction: column;

    max-width: var(--wMax);
}

.box .linha_topo {
    position: relative;
    width: 100%;
    height: auto;

    padding: 8px 0px;
    background-color: var(--Turquesa);

    font-family: "Londrina Solid";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;

    display: flex;
    flex-direction: row;

    --gap: 12px;
    overflow: hidden;
    user-select: none;

    height: 24px;
    align-items: center;
    gap: var(--gap);

    border-style: solid;
    border-width: 0px 0px 4px 0px;
    border-color: var(--Preto);
}

.box .linha_topo .cont {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    animation: scroll 20s linear infinite;
    list-style-type: none;
    padding: 0px;
}

.box .linha_topo ul li:nth-child(odd) {
    color: var(--Azul);
}

.box .linha_topo ul li:nth-child(even) {
    color: var(--Rosa);
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

/* Pause animation when reduced-motion is set */
@media (prefers-reduced-motion: reduce) {
    .box .linha_topo .cont {
        animation-play-state: paused !important;
    }
}

.box .linha_topo.reverse {
    background-color: var(--Rosa);
    border-width: 0px;
}

.box .linha_topo.reverse .cont {
    animation-direction: reverse;
}

.box .linha_topo.reverse ul li:nth-child(odd) {
    color: var(--Laranja);
}

.box .linha_topo.reverse ul li:nth-child(even) {
    color: var(--Azul);
}

.box .linha_infos {
    position: relative;
    width: auto;
    height: auto;

    display: flex;
    flex-direction: row;

    border-style: solid;
    border-width: 0px 0px 4px 0px;
    border-color: var(--Preto);
}

.box .linha_infos .secao {
    position: relative;
    padding: 42px;

    border-style: solid;
    border-width: 0px 4px 0px 0px;
    border-color: var(--Preto);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box .linha_infos .secao.titulo {
    color: var(--Preto);
    font-family: "BioRhyme";
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px;
}

.box .linha_infos .secao.desc {
    background-color: var(--Branco);
    max-width: 352px;
    width: 100%;

    color: var(--Preto);

    text-align: justify;
    font-family: "BioRhyme";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 22.4px */
}

.box .linha_infos .secao.desc img {
    position: absolute;

    top: 31px;
    left: 31px;
}

.box .linha_infos .secao.img {
    width: 100%;
    height: auto;

    background-image: url("../img/projetos/mat-inset-capsulas/top_matinset.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 20%;

    border-width: 0px;
}

.box .linha_premios {
    position: relative;
    width: auto;
    height: auto;

    display: flex;
    flex-direction: row;

    border-style: solid;
    border-width: 0px 0px 4px 0px;
    border-color: var(--Preto);
}

.box .linha_premios .cont_premios {
    position: relative;
    width: auto;
    height: auto;

    display: flex;
    flex-direction: row;

    border-style: solid;
    border-width: 0px 4px 0px 0px;
    border-color: var(--Preto);
}

.box .linha_premios .cont_premios .premio {
    position: relative;
    width: 227px;
    height: 282px;

    background-image: var(--bgImg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;

    --transition: ease-in-out .3s;
    transition: var(--transition);
}

.box .linha_premios .cont_premios .premio img.bg {
    position: absolute;
    width: 100%;
    height: 100%;

    top: 0px;
    left: 0px;

    z-index: 1;
    transition: var(--transition);
}

.box .linha_premios .cont_premios .premio img.fg {
    position: relative;
    height: auto;

    z-index: 2;
    transition: var(--transition);
}

.premio.bornancini img.fg {
    width: 180px;
}

.premio.ladawards img.fg {
    width: 93px;
}

.premio.bda img.fg {
    width: 84px;
}

.premio .evento {
    position: relative;

    display: flex;
    padding: 0px 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 6.989px;
    border: 2px solid var(--Preto, #242322);
    background: var(--Azul, #252DFF);
    color: var(--Branco, #FAFAFA);
    font-family: "BioRhyme";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24.462px;
    /* 152.89% */

    opacity: 0;
    height: 0px;

    z-index: 2;
    transition: var(--transition);
}

.premio .titulo,
.premio .categoria {
    position: relative;

    color: var(--Branco, #FAFAFA);
    text-align: center;
    font-family: BioRhyme;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 22.4px */
    transition: var(--transition);

    opacity: 0;
    height: 0px;

    z-index: 2;
}

.box .linha_premios .cont_premios .premio:hover {
    gap: 12px;
}

.box .linha_premios .cont_premios .premio:hover .bg {
    filter: brightness(0.5);
}

.premio.bornancini:hover .fg {
    width: 123px;
}

.premio.ladawards:hover .fg {
    width: 50px;
}

.premio.bda:hover .fg {
    width: 55px;
}

.box .linha_premios .cont_premios .premio:hover .evento {
    opacity: 1;
    height: 36px;
}

.box .linha_premios .cont_premios .premio:hover .titulo {
    opacity: 1;
    height: 22px;
}

.box .linha_premios .cont_premios .premio:hover .categoria {
    opacity: 1;
    height: 22px;
}

.box .linha_premios .destaque {
    position: relative;

    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 42px;
    gap: 24px;
}

.box .linha_premios .destaque .titulo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 12px;

    justify-content: center;
    align-items: center;
}

.box .linha_premios .destaque .titulo .icone {
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 8px;
    border: 2px solid var(--Preto, #242322);
    background: var(--Azul, #252DFF);
}

.box .linha_premios .destaque .titulo .icone .num {
    color: var(--Branco, #FAFAFA);
    font-family: "BioRhyme";
    font-size: 24.462px;
    font-style: normal;
    font-weight: 700;
    line-height: 24.462px;
    /* 100% */
}

.box .linha_premios .destaque .titulo .texto {
    color: var(--Azul, #252DFF);
    text-align: center;
    font-family: "BioRhyme";
    font-size: 42px;
    font-style: normal;
    font-weight: 800;
    line-height: 106.285%;
    /* 55.268px */
}

.box .linha_premios .destaque .descricao {
    color: var(--Azul, #252DFF);
    text-align: center;
    font-family: "BioRhyme";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 22.4px */
}

.secao-pag.img-unica {
    padding-bottom: 0px;
}

.secao-pag.img-unica img,
.secao-pag.img-unica video {
    position: relative;
    background-image: var(--bgImg);

    width: 100%;
    max-width: var(--wMax);
    height: auto;

    border-style: solid;
    border-color: var(--Preto);
    border-width: 4px;
}


.secao-pag.duas-imgs {
    position: relative;

    width: 100%;
    max-width: var(--wMax);
    height: auto;

    display: flex;
    flex-direction: row;
    gap: 42px;

    padding-bottom: 0px;
}

.secao-pag.duas-imgs img {
    position: relative;
    width: calc((100% - 52px) / 2);
    max-width: var(--wMax);
    height: auto;

    border-style: solid;
    border-color: var(--Preto);
    border-width: 4px;
}

.secao-pag.final {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
}

.secao-pag.final .partes {
    position: relative;
    width: auto;
    height: auto;

    display: flex;
    flex-direction: row;
    gap: 42px;

    color: var(--Preto);
    font-family: "BioRhyme";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

.secao-pag.final .partes .desc {
    font-weight: 400;
}


.secao-pag.final .objetivo {
    display: flex;
    width: 100%;
    max-width: 450px;

    color: var(--Preto);
    font-family: "BioRhyme";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}