@font-face { 
    font-family: 'Report Regular';
    src: url('../fonts/ReportRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face { 
    font-family: 'Report SemiBold';
    src: url('../fonts/ReportSemibold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face { 
    font-family: 'Report Bold';
    src: url('../fonts/ReportBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }

  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap');
  
  html {
      margin: 0;
      overflow-x: hidden;
      scroll-behavior: smooth;
      height: 100%;
      overflow: auto;
      
      --corFundo: #f0f0f0;
      --wCarta: 224px;
      --hCarta: 350px;
  }
  
  body{
      margin: 0;
      overflow-x: hidden;
      height: 100%;
      width: 100vw;
  }
  
  * {
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
      user-select: none;
  }
  
  a:any-link {
      text-decoration: none;
      color: red;
  }

.container {
  display: flex;
  flex: auto;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--corFundo);
  overflow: hidden;
}

#contBaralho {
  width: var(--wCarta);
  height: var(--hCarta);
  overflow: visible;

  position: absolute;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background-color: #beae5a;
  border-style: dashed;
  border-width: 2px;
  border-color: #e7e1c0;
  border-radius: 8px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  transition: ease-in-out .3s;
}

.msgDefault {
  height: auto;
  width: 200px;
  position: absolute;
  
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  text-align: center;
}

.carta {
  position: absolute;
  width: var(--wCarta);
  height: var(--hCarta);

  background-color: #fffbf1;
  border-radius: 8px;
  cursor: grab;

  top: 0;
  left: 0;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* transition: linear 0.05s; */
}

.carta:hover {
  cursor: grab;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
  margin-top: -2px;
}

.carta.is-dragging {
  cursor: grabbing;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.4);
  margin-top: -12px;
  transition: linear 0.05s;
}

.carta.is-pointer-down {
  cursor: grabbing;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.4);
  margin-top: -8px;
  transition: linear 0.05s;
}

.carta .titulo {
  border-left: 24px solid transparent;
  border-right: 24px solid transparent;
  height: 0;
  width: max-content;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  font-family: "Kanit";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

[data-naipe="azul"] .titulo {
  border-bottom: 24px solid #3C8AFF;
  color: #FFFFFF;
}

[data-naipe="verde"] .titulo {
  border-bottom: 24px solid #39D82B;
  color: #FFFFFF;
}

[data-naipe="amarelo"] .titulo {
  border-bottom: 24px solid #FFDB1C;
  color: #000000;
}

[data-naipe="vermelho"] .titulo {
  border-bottom: 24px solid #FF6A56;
  color: #FFFFFF;
}