html {
    margin: 0;
    overflow: hidden;
    scroll-behavior: smooth;
    height: 100%;
    
    --Azul: #252DFF;
    --Rosa: #D80EE4;
    --Laranja: #E59C33;
    --Turquesa: #20CE94;
    --Branco: #FAFAFA;
    --Preto: #242322;
}

body{
    margin: 0;
    overflow-x: hidden;
    height: 100%;
    width: 100vw;
    
    background-color: var(--Branco);

    /* Scrollbar */
    --sb-track-color: var(--Laranja);
    --sb-thumb-color: var(--Rosa);
    --sb-border-color: var(--Preto);
    --sb-size: 20px;
  
    scrollbar-color: var(--sb-thumb-color) 
                     var(--sb-track-color);
}
 

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
    user-select: none;
}

a:any-link {
    text-decoration: none;
    color: var(--corClara1);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.view-desktop-flex {
    display: none;
}

@media only screen and (min-width: 800px) {
    .view-mobile-flex {
        display: none;
    }

    .view-desktop-flex {
        display: flex;
    }

    body::-webkit-scrollbar {
        width: var(--sb-size); 
    }
    
    body::-webkit-scrollbar-track {
        background: var(--sb-track-color);
        border-radius: 0px;
        border: 2px solid var(--sb-border-color);
        border-width: 0px 2px 0px 2px;
    }
    
    body::-webkit-scrollbar-thumb {
        background: var(--sb-thumb-color);
        border-radius: 10px;
        border: 0px ridge var(--sb-border-color);
        border-width: 2px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: var(--Azul);
    }
    
    ::-webkit-scrollbar-button:single-button {
        background-color: var(--sb-track-color);
        display: block;
        height: 24px; 
        width: var(--sb-size);
    
        border-style: solid;
        border-color: var(--sb-border-color);
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
    }
    
    ::-webkit-scrollbar-button:single-button:decrement {
        border-width: 2px 2px 0px 2px;
        background-image: url("../img/arrow_drop_up_b.png");
    }
    
    ::-webkit-scrollbar-button:single-button:decrement:hover {
        border-width: 2px;
        background-color: var(--Azul);
        background-image: url("../img/arrow_drop_up_w.png");
    }
    
    ::-webkit-scrollbar-button:single-button:increment {
        border-width: 0px 2px 2px 2px;
        background-image: url("../img/arrow_drop_down_b.png");
    }
    
    ::-webkit-scrollbar-button:single-button:increment:hover {
        border-width: 2px;
        background-color: var(--Azul);
        background-image: url("../img/arrow_drop_down_w.png");
    }
}