.gg-bd {
    font-family: 'Expose', sans-serif;
    font-weight: bold;
    font-size: 42px;
    line-height: 56px;
}

.g-bd {
    font-family: 'Expose', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
}

.g-rg {
    font-family: 'Expose', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
}

.m-bd {
    font-family: 'Expose', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.m-rg {
    font-family: 'Expose', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}