* {
    --corProjeto: #BF726B;
    --corCabecalho: #BF726B;
    --corBase1: var(--corProjeto);
}

#Intro .img_fundo {
    background-image: url(../../img/projetos/bestiario-de-tons/capa-desktop.png);
}

@media only screen and (min-width: 648px) {
    #Intro .img_fundo {
        background-image: url(../../img/projetos/bestiario-de-tons/capa-desktop.png);
    }
}