* {
    --corProjeto: #EDAF2F;
    --corCabecalho: #EDAF2F;
    --corBase1: var(--corProjeto);
    --corClara1: #f8f4ea;
}

#Intro .img_fundo {
    background-image: url(../../img/projetos/mat-inset-capsulas/capa-desktop.png);
}

@media only screen and (min-width: 648px) {
    #Intro .img_fundo {
        background-image: url(../../img/projetos/mat-inset-capsulas/capa-desktop.png);
    }
}

@media only screen and (min-width: 1268px) {
    .cont-2-col img {
        position: relative;
        left: unset;
        transform: unset;
        top: unset;
        transform: unset;
    }
    
    .cont-2-col .desktop {
        position: relative;
        margin-top: 0px;
        margin-bottom: 0px;
        display: block;
    }
}