/* SEÇÃO 1 - Topo */

html {
    --corCabecalho: #3589F8;
}

#container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;    
    margin-bottom: 0px;
    background-color: var(--corEscura1);
}

#Intro {
    position: relative;
    width: 100%;
    height: auto;
    
    background-color: var(--corEscura1);
}

#Intro .img_fundo {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 68vh;
    
    background-image: url(../../img/projetos/roma-peugeot/fundo-mob.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

#Intro .cont_home {
    position: relative;
    width: 80%;
    height: auto;
    margin-left: 10%;
    
    padding-top: 148px;
    padding-bottom: 124px;
}

.proj_titulo {
    color: var(--corClara1);
    
    font-family: "Report Bold";
    font-size: 64px;
    line-height: 72px;
    margin-bottom: 36px;
    margin-top: 48px;
}

.proj_categoria{
    position: relative;
    width: 100%;
    max-width: 320px;
    height: 137px;    
    background-image: radial-gradient(circle at 100% 100%, transparent 7px, #3589f8 7px, #3589f8 9px, transparent 9px), linear-gradient(to right, #3589f8, #5ab7df), radial-gradient(circle at 0% 100%, transparent 7px, #5ab7df 7px, #5ab7df 9px, transparent 9px), linear-gradient(to bottom, #5ab7df, #97ffb8), radial-gradient(circle at 0% 0%, transparent 7px, #97ffb8 7px, #97ffb8 9px, transparent 9px), linear-gradient(to left, #97ffb8, #5ab7df), radial-gradient(circle at 100% 0%, transparent 7px, #5ab7df 7px, #5ab7df 9px, transparent 9px), linear-gradient(to top, #5ab7df, #3589f8);
    background-size: 9px 9px, calc(100% - 18px) 2px, 9px 9px, 2px calc(100% - 18px);
    background-position: top left,top center,top right,center right, bottom right,bottom center,bottom left,center left;
    background-repeat: no-repeat;
}

.proj_categoria .cont {
    position: absolute;
    width: auto;
    height: auto;
    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.proj_categoria .icone {
    position: relative;
    width: 120px;
    min-width: 120px;
    height: 85px;
    margin-top: 5px;
    margin-left: -24px;
    overflow: visible;
}

.proj_categoria .icone.ui {
    background: url("../../img/projetos/ui.png") center/60% no-repeat, url("../../img/projetos/fundo_brilho.png") center/95% no-repeat;
}

.proj_categoria .cont .textos {
    position: relative;
    width: 162px;
    height: auto;   
    
    color: var(--corClara1);
}

.proj_categoria .cont .textos .titulo {
    background: #3589F8;
    background: -webkit-linear-gradient(to right, #3589F8 0%, #97FFB8 60%);
    background: -moz-linear-gradient(to right, #3589F8 0%, #97FFB8 60%);
    background: linear-gradient(to right, #3589F8 0%, #97FFB8 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    font-family: "Report Bold";
    font-size: 28px;
    letter-spacing: 3px;
}

.proj_categoria .cont .textos .desc {
    color: var(--corClara1);
    font-family: "Report Regular";
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
}


#Intro .cont_home .descricao {
    position: relative;
    margin-top: 48px;
}

#Intro .cont_home p {
    position: relative;
    width: 100%;
    
    color: var(--corClara3);
    font-family: "Report Regular";
    font-size: 23px;
    line-height: 30px;
    
    margin-bottom: 48px;
    text-align: left;
}

.img1 {
    background-image: url(../../img/projetos/roma-peugeot/img1.png);
}

.img2 {
    background-image: url(../../img/projetos/roma-peugeot/img2.png);
}

.img3 {
    background-image: url(../../img/projetos/roma-peugeot/img3.png);
}

.

@media only screen and (min-width: 590px) {
    #Home .cont_home {
        position: relative;
        width: 600px;
        height: auto;
        margin-left: auto;
        margin-right: auto;

        padding-top: 148px;
    }
}

@media only screen and (min-width: 635px) {
    #Home .guia {
        width: 2px;
        height: 162px;
        background-color: var(--corClara1);
        position: absolute;
        
        bottom: 0;
        right: var(--margemLateral);
    }
    
    #SobreMim .guia:nth-child(1) {
        width: 2px;
        height: 90px;
        background-color: var(--corBase2);
        position: absolute;
        
        top: -112px;
        right: var(--margemLateral);
    }
    
    .elemento {
        top: -512px;
        right: -24px;

        animation: float 6s ease-in-out infinite;
    }
}

@media only screen and (min-width: 800px) {
    #SobreMim .conteudo {
        max-width: 400px;
    }
    
    #Contato .conteudo {
        display: none;
    }
    
    #Contato {
        width: 100%;
        height: 600px;
    }

    #Contato .conteudo_desktop {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        column-gap: 64px;
        
        position: absolute;
        width: 800px;
        height: auto;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        font-family: "Report Regular";
        color: var(--corClara1);
        margin-top: 12px;
    }
    
    #Contato .conteudo_desktop .lado1{
        width: 323px;
    }

    #Contato .conteudo_desktop .titulo {
        position: relative;
        width: auto;

        color: var(--corClara1);
        font-family: "Report Bold";
        font-size: 56px;

        margin-bottom: 36px;
    }

    #Contato .conteudo_desktop .item_contato {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    #Contato .conteudo_desktop .item_contato {
        margin-top: 18px;
    }

    #Contato .conteudo_desktop .item_contato .icone {
        margin-right: 12px;
        width: 26px;
    }

    #Contato .conteudo_desktop .item_contato .desc {
        font-size: 24px;
    }

    #Contato .conteudo_desktop .item_contato .desc.bold {
        font-family: "Report Bold";
    }

    #imgGato {
        position: relative;
        width: 400px;
        height: 382px;
        margin-left: 0px;
        margin-top: 12px;

        background-image: url(../img/home/img_gato.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    #btPoliticaPriv {
        position: relative;
        width: 320px;
        text-align: left;

        font-size: 22px;
        font-family: "Report Bold";

        margin-top: 52px;
    }

    #lbTextoLegal {
        position: relative;
        width: 360px;
        text-align: left;
        font-size: 18px;
        line-height: 20px;

        margin-top: 8px;
        opacity: 0.7;
    }   
}

@media only screen and (min-width: 912px) {        
    
    #Home .cont_home {
        padding-top: 192px;
    }
    
    #Home .cont_home .imagem {
        position: relative;
        width: 600px;
        height: 382px;
        margin-left: auto;
        margin-right: auto;

        background-image: url(../img/home/construcao.png);
        background-position: center;
        background-size: contain; 
        background-repeat: no-repeat;
    }
    
    .botaoContorno {
        position: relative;
        width: 320px;
        margin-left: auto;
        margin-right: auto;
        border-style: solid;
        border-width: 2px;
        border-color: var(--corClara1);
        color: var(--corClara1);
        padding-top: 18px;
        padding-bottom: 18px;

        transition: 0.25s ease;
        cursor: pointer;
    }
    
    #Projetos .desktop .guia {
        width: 2px;
        height: 90px;
        background-color: var(--corClara1);
        position: absolute;
        
        top: -152px;
        right: var(--margemLateral);
    }
    
    #Projetos .desktop .lado1 {
        width: 50%;
        max-width: 585px;
        height: auto;
        position: relative;
    }
    
    #Projetos .desktop .lado2 {
        width: 50%;
        max-width: 412px;
        height: auto;
        position: relative;
    }
    
    #imgProjeto {
        position: relative;
        width: 100%;
        height: 554px;
        
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    #imgProjeto.p1 {
        background-image: url(../img/home/proj_RomaPeugeot_Desktop.jpg);
    }
    
    #imgProjeto.p2 {
        background-image: url(../img/home/proj_Zucatelli_Desktop.jpg);
    }
    
    #imgProjeto.p3 {
        background-image: url(../img/home/proj_Meteriopedia_Desktop.jpg);
    }
    
    #imgProjeto.p4 {
        background-image: url(../img/home/proj_Lamure_Desktop.jpg);
    }
    
    #imgProjeto.p5 {
        background-image: url(../img/home/proj_Diario_Desktop.jpg);
    }
    
    #barraProjetos {
        position: relative;
        width: 90%;
        height: auto;
        margin-left: 5%;
        
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        column-gap: 14px;
        margin-top: 32px;
    }
    
    #barraProjetos .selectProjeto {
        width: 100%;
        height: 5px;
        background-color: #363642;
        border-radius: 3px;
        
        cursor: pointer;
        transition: 0.25s ease;
        overflow: hidden;
    }
    
    #barraProjetos .selectProjeto.select .progresso {
        width: 0px;
        height: 100%;
        background-color: var(--corClara1);
        animation: animProgresso 7s 1 normal linear forwards;
    }
    
    @keyframes animProgresso {
        0% {
            opacity: 1;
            width: 0px;
        } 95% {
            opacity: 1;
            width: 100%;
        } 100% {
            opacity: 0;
            width: 100%;
        }
    }
    
    @keyframes animChangeInfo {
        0% {
            opacity: 0;
        } 5% {
            opacity: 1;
        } 95% {
            opacity: 1;
        } 100% {
            opacity: 0;
        }
    }
    
    #nomeProjeto {
        position: relative;
        width: max-content;

        color: var(--corClara1);
        font-family: "Report Bold";
        font-size: 56px;

        margin-bottom: 32px;
        margin-top: 56px;
    }
    
    #nomeProjeto span{    
        background-color: var(--corBase2);
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 8px;
        padding-bottom: 6px;
        
        margin-left: 16px;
        
        border-radius: 24px;
        font-size: 24px;
    }
    
    #descProjeto {
        position: relative;
        width: 100%;
        max-width: 412px;

        color: var(--corClara2);
        font-family: "Report regular";
        font-size: 23px;
        line-height: 28px;

        margin-bottom: 48px;
    }
    
    #Projetos .desktop .textoColorido {
        position: absolute;
        bottom: -24px;
        width: 100%;

        font-family: "Report Bold";
        font-size: 24px;

        margin-bottom: 12px;
        cursor: pointer;
        transition: 0.25s ease;
    }

    #Projetos .desktop .textoColorido:hover {
        color: #6BACFF;
    }
    
    .animTrocarProjeto {
        animation: animChangeInfo 7s infinite normal linear forwards;
    }
}

@media only screen and (min-width: 1360px) {
    #SobreMim .conteudo {
        margin-top: 148px;
        margin-bottom: 72px;
        margin-left: 410px;
    }
    
    #Projetos .desktop .guia {
        opacity: 0;
    }
        
    #barraProjetos {
        width: 70%;
        margin-left: 15%;
    }
    
    #Projetos .desktop {        
        position: relative;
        width: 1056px;
        height: auto;
        padding-top: 112px;
        padding-bottom: 112px;
        
        margin-left: auto;
        margin-right: auto;
        background-color: #1F1F27;
        
        column-gap: 64px;
    }

}